#define IDR_VERSION1 1

IDR_VERSION1 VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,0,1
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"
    BEGIN
      VALUE "FileVersion", "0.0.0.1\0"
      VALUE "ProductVersion", "0.0.0.1\0"
      VALUE "FileDescription", "Calculus Graph\0"
      VALUE "InternalName", "AP Calc\0"
      VALUE "LegalCopyright", "© Nick Lauber, under the GPL 2.0 license\0"
      VALUE "OriginalFilename", "AP Calc.exe\0"
      VALUE "ProductName", "Calculus Graph\0"
      VALUE "CompanyName", "Nick Lauber\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x0000
  END
END

100 ICON DISCARDABLE "AP Calc.ico"

